/*
Description:  theme for Classes
Author:       J Neathawk
Author URI:   https://knighthawk0811.github.io
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/



/*--------------------------------------------------------------
selector {
	layout(position)
	
	content(text)
	
	design(background)
	
	other(z-index)
}
----------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
:root {
  --color-variable: #ffffff;
}


----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries

--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
html * {
    box-sizing: border-box;
}
/*--------------------------------------------------------------
# General Elements
--------------------------------------------------------------*/
body {
margin: 0%;
}

img {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
nav ul {
list-style-type: square;
color: orange;
}
nav a {
  color: black;
}
nav a:visited {
  color: rgb(116, 87, 9);
}
nav a:hover {
  color: orange
}
nav a:active {
  color: orange
}
/*--------------------------------------------------------------
# Header Area
--------------------------------------------------------------*/
header {
background-color: #a8a39e;
padding: 20px;
}

/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/

main {
  width: calc(70% - 1px);
  float: left;
  padding: 1rem;
  border-right: 1px solid lightgray;

  }
  aside {
  width: 30%;
  float: right;
  }

/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/
footer {
background-color: #a8a39e;
clear: both;
text-align: center;
}

/*--------------------------------------------------------------
# Reusable Classes
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
